@CHARSET "UTF-8";

.isloading-wrapper.isloading-right {
	margin-left: 10px;
}

.isloading-overlay {
	position: relative;
	text-align: center;
}

.isloading-overlay .isloading-wrapper {
	background: #FFFFFF;
	-webkit-border-radius: 7px;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 7px;
	-moz-background-clip: padding;
	border-radius: 7px;
	background-clip: padding-box;
	display: inline-block;
	margin: 0 auto;
	padding: 10px 20px;
	top: 10%;
	z-index: 9000;
}

/** Icons **/
.icon-loader {
	background: url("../images/loader_16x16.gif") no-repeat;
}

.icon-loader-120x120 {
	background: url("../images/loader_120x120.gif") no-repeat;
}

