@CHARSET "UTF-8";

/* Help blocks */
.help-block {
	color: #a3a3a3;
	font-style: italic;
}

.fm {
	font-size: medium;
}

.fs {
	font-size: small;
}

.fxs {
	font-size: x-small;
}

.help-block-xxsmall {
	font: xx-small italic;
}

/* Background colors */

.bgcolor-gray-light {
    background-color: #e7e7e7;
}

.bgcolor-gray-lighter {
    background-color: #f3f3f3;
}

.bgcolor-blue-light {
    background-color: #cde9ef;
}

.bgcolor-yellow-light {
    background-color: #ffe4c4;
}

.bgcolor-yellow-lighter {
	background-color: #fffede;
}

.bgcolor-yellow-lighter2 {
	background-color: #fcffe4;
}

.bgcolor-violet-light {
    background-color: #e6e6fa;
}

.bgcolor-red {
	background-color: red;
}

/* Text Color */

.gray-light1 {
	color: #e6e6e6;
}

.gray-light2 {
	color: #dcdcdc;
}

.gray-light3 {
	color: #d2d2d2;
}

.gray-light4 {
	color: #c8c8c8;
}

/* Width */

.width-100px{
	width: 100px !important;
}

.width-150px{
	width: 150px !important;
}

.width-200px{
	width: 200px !important;
}

.width-400px{
	width: 400px !important;
}

.width-600px{
	width: 600px !important;
}

.height-300px{
	height: 300px !important;
}
.height-400px{
	height: 400px !important;
}
.height-500px{
	height: 500px !important;
}
.height-600px{
	height: 600px !important;
}

.relative {
    position: relative;
}

.absolute-bottom{
	position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.bolder {
	font-weight: bolder;
}

/** Borders */

.bb-solid-thin {
	border-bottom: thin solid #d1d1d1;
}

.bt-solid-thin {
	border-top: thin solid #d1d1d1;
}

.bl-solid-thin {
	border-left: thin solid #b2b2b2;
}

.br-solid-thin {
	border-right: thin solid #b2b2b2;
}

.b-solid-thin {
	border: thin solid #d1d1d1;
}

.bb-solid-thin {
	border-bottom: thin dashed #d1d1d1;
}

.bt-dashed-thin {
	border-top: thin dashed #d1d1d1;
}

.bl-dashed-thin {
	border-left: thin dashed #b2b2b2;
}

.br-dashed-thin {
	border-right: thin dashed #b2b2b2;
}

.b-dashed-thin {
	border: thin dashed #d1d1d1;
}

/* Padding and Margin */

.p-5 {
	padding: 5px;
}

.p-10 {
	padding: 10px;
}

.p-10-5 {
	padding: 10px 5px;
}

.pl-5 {
	padding-left: 5px;
}

.pl-10 {
	padding-left: 10px;
}

.pt-5 {
	padding-top: 5px;
}

.pt-10 {
	padding-top: 10px;
}

.pt-20 {
	padding-top: 20px;
}

.mt-5 {
	margin-top: 5px;
}

.mt-10 {
	margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-25 {
	margin-top: 25px;
}

.mt-30 {
	margin-top: 30px;
}

.mtb-5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.mtb-10 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.ml-10 {
	margin-left: 10px;
}

.mr-2 {
	margin-right: 2px;
}

.mr-3 {
	margin-right: 3px;
}

.mr-5 {
	margin-right: 5px;
}

.mr-10 {
	margin-right: 10px;
}

.mr-20 {
	margin-right: 20px;
}

.ml-2 {
	margin-left: 2px;
}

.ml-3 {
	margin-left: 3px;
}

.ml-5 {
	margin-left: 5px;
}

.ml-10 {
	margin-left: 10px;
}

.m-10 {
	margin: 10px;   
}

.mtr-10-10 {
	margin: 10px 10px 0 0;   
}

.mtb-15-0 {
	margin: 15px 0;
}

.mtb-25-0 {
	margin: 25px 0;
}

.m-0 {
	margin: 0;
}

.mt-0 {
	margin-top: 0;
}

.mb-0 {
	margin-bottom: 0;
}

.mb-5 {
	margin-bottom: 0;
}

.mb-10 {
	margin-bottom: 10px;
}

.mb-15 {
	margin-bottom: 15px;
}

.mb-20 {
	margin-bottom: 20px;
}

.mb-25 {
	margin-bottom: 25px;
}

.mb-30 {
	margin-bottom: 30px;
}

.hr {
	border-bottom: thin dashed #afafaf;
	width: 100%;
}

/* Fonts */

.font-small {
	font-size: small;
}

.font-xsmall {
	font-size: x-small;
}

.font-xxsmall {
	font-size: xx-small;
}

.font-smaller {
	font-size: smaller;
}

.font-medium {
	font-size: medium;
}

.font-large {
	font-size: large;
}

.font-xlarge {
	font-size: x-large;
}

.font-xxlarge {
	font-size: xx-large;
}

.font-medium-bold {
	font-size: medium;
	font-weight: bold;
}

.font-large-bold {
	font-size: large;
	font-weight: bold;
}


.parsley-error-list li{
	color: red;
}

/* YouTube Responsive */

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Heights */
.height-150px {
	height: 150px;
}

.cursor-help {
	cursor: help;
}

.cursor-pointer {
	cursor: pointer;
}

.panel-brown > .panel-heading {
    background-color: #deb887;
    border-color: #deb887;
    color: #000;
}

.panel-brown {
    border-color: #deb887;
}

.panel-reward {
    border-color: #e4e4e4;
}

.panel-reward > .panel-heading {
    background-color: #e9e9e9;
    border-color: #dcdcdc;
    color: #000;
}

.note-block {
	background-color: #d9edf7;
	border-color: #bce8f1;
	color: #3a87ad;
	padding: 5px 0 5px 10px;
}

.inline-element {
	display: inline !important;
}

/** Text Decoratioin */
.text-capitalized {
	text-transform: capitalize;
}